/* Google Fonts */
@import url('./fonts/typography.css');

html,
body {
	--light: #efefef;
	--dark: #333333;
	--highlight: #555555;

	color: var(--dark);
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .logo {
	/* lining figures */
	font-feature-settings: "lnum" 1;
}

.logotype {
	font-family: 'Raleweb';
	font-weight: 900;
	font-size: 24pt;
}

a {
	color: var(--highlight);
	text-decoration: none;
}

.minor {
	font-size: .7em;
}

.slide {
	box-sizing: border-box;
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 8%;
	display: flex;
	flex-direction: row; /* Automatic .content columns */
	justify-content: space-around; /* with automatic gutters */
	align-items: center;
}

.slide .content {
	padding: 15px;
}

/* TYPOGRAPHIC WHATNOTTERY */

.never-italic {
	font-style: normal;
}

/* IB5K COMPRESSOR ANIMATION */

.compressor {
	display: flex;
}

.compressor span {
	display: inline-block;
	white-space: pre;
}

.compressor .remain {
	overflow-x: visible;
	vertical-align: top; /* not sure why by overflow-x fudges alignment up */
}

.compressor .expand {
	animation-name: expand;
	animation-delay: 300ms;
}

.compressor .compress {
	animation-name: compress;
}

.compressor .compress,
.compressor .expand {
	overflow-x: hidden;
	animation-timing-function: linear;
	animation-duration: 400ms;
	animation-fill-mode: both;
}

@keyframes compress {
	0% {
		max-width: 100%;
	}

	100% {
		max-width: 0;
		display: none;
	}
}

@keyframes expand {
	0% {
		display: none;
		max-width: 0;
	}

	100% {
		max-width: 100%;
	}
}
